.supportButton.smallIdea
  - if defined? @current_user.id and Vote.find(:all, :conditions => { :user_id => @current_user.id, :idea_id => idea.id}).length != 0
    %a
      %span.supported
    = link_to_remote '<small>unsupport</small>', :url =>{:action => 'unsupport', :id => idea.id, :size => 'small'}, :update => idea.id
  - else
    = link_to_remote '<span class="unsupported"></span>', :url => {:action => 'support', :id => idea.id, :size => 'small'}, :update => idea.id, :success => "myLightWindow.activateWindow({href: '/integration', width: 500, height: 400});"
.rightText
  %h2= link_to truncate(idea.title, :length=>60), idea
  .ideaDetails.smallIdea
    by
    = link_to idea.user.name, idea.user
    at
    = idea.created_at
