.story.smallIdea{:id => idea.id}
  .supportButton.smallIdea
    - if defined? @current_user.id and Vote.find(:all, :conditions => { :user_id => @current_user.id, :idea_id => idea.id}).length != 0
      = link_to_remote '<span class="supported"></span>', :url => {:action => 'support', :id => idea.id}, :update => idea.id
    - else
      = link_to_remote '<span class="unsupported"></span>', :url => {:action => 'support', :id => idea.id}, :update => idea.id 
  .rightText
    %h2= link_to truncate(idea.title, :length=>60), idea
    .ideaDetails.smallIdea
      by
      = link_to idea.user.name, idea.user
      at
      = idea.created_at
