<div id="container">

<div id="content">
<p>
  <b>Title:</b>
  <%=h @idea.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @idea.user.name %>
</p>
<p>
<b><a href='<%= vote_url(@idea.id) %>'>Vote for this idea!</a></b>
</p>
<p>
  <b>Body:</b>
  <%=h @idea.body %>
</p>
<p>
<b>Category:</b>
<%= Category.find(@idea.category_id).name %>
</p>

<%= link_to_unless( @current_user.id != @idea.user, 'Edit', edit_idea_path(@idea)){} %> 
<%= link_to_unless( @current_user.id != @idea.user,  'Destroy', @idea, :confirm => 'Are you sure?', :method => :delete) {} %> 
<%= link_to 'Back', ideas_path %>

<%= form_tag :action => 'comment',  :id => @idea%>
<%= text_area "comment", "body" %><br>
<%= submit_tag "Comment" %>
</form>
<%= render :partial => 'comments/list' %>

</div>
</div>
