<table>
  <tr>
    <th>Commentor</th>
    <th>Comment</th>
  </tr>

<% @idea.comments.each do |comment| %>
  <tr>
    <td><%=h comment.user.name %></td>
    <td><%=h comment.body %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


