#umcNav
  #topNavWrapper
    %ul#topnav
      %li= link_to 'Home', root_path
      %li
        = link_to 'All Ideas', ideas_path 
        %ul
          - Tag.find(:all, :order => :name).each do |tag|
            %li= link_to tag.name, tag_path(tag.id)
      %li= link_to 'Submit an Idea', new_idea_path
      %li= link_to 'Tags', tags_path
      - if (defined? @current_user)
        %li= link_to 'My Ideas', @current_user
        %li= link_to 'Profile',  edit_user_path(@current_user.id)
      - else
        %li= link_to 'Log In', root_path, :action => 'login'
