#umcNav
  #topNavWrapper
    %ul#topnav
      %li= link_to 'Home', root_path
      %li
        = link_to 'All Ideas', ideas_path 
        %ul
          %li= link_to 'Advising',    '#'
          %li= link_to 'Academics',   '#'
          %li= link_to 'Environment', '#'
          %li= link_to 'Other',       '#'
          %li= link_to 'Technology',  '#'
      %li= link_to 'Submit an Idea', new_idea_path 
      - if (defined? @current_user)
        %li= link_to 'My Ideas', @current_user
        %li= link_to 'Profile',  edit_user_path(@current_user.id)
      - else
        %li= link_to 'Log In', root_path
