%head
  = stylesheet_link_tag 'main'
  = stylesheet_link_tag 'print', :media => "print"
  = stylesheet_link_tag 'compiled/screen'
  = stylesheet_link_tag 'cwruheader'
  = javascript_include_tag 'nav'
  = javascript_include_tag :defaults

%body#home
  = render :partial => "/layouts/cwruheader"
  = render :partial => "/layouts/navigation"
  .breadcrumb
    .breadcrumbHome
      .breadcrumbC
        %h2
          %strong
            Case Western Top Ideas
      .sideLink
        &raquo;
        = link_to 'Extra link goes here', '#'
  #contentWrapper
    #contentContainer
      #leftCol
        .blankH
          = image_tag 'blank.jpg', :width => 10, :height => 180, :alt => "frame image"
        .blankH
          = image_tag 'blank.jpg', :width => 180, :height => 10, :alt => "frame image"
        = yield
      #rightCol
        = render :partial => "layouts/populartags"
